* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
html {
	scrollbar-width: none;
	overflow-x: hidden;
	div.loader {
		/* display: none; */ /*No me va*/
		width: 220px;
		height: 220px;
		border-radius: 50%;
		border: 30px solid var(--yellow--primary);
		border-left-color: #262626;
		animation: loader 1s infinite;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: auto;
		margin-top: 15em;
	}
}
:root {
	--yellow--primary: #ffd400;
}
header {
	font-family: 'Manrope';
	min-width: 100%;
	nav {
		display: flex;
		padding: 1em;
		margin-top: 1em;
		justify-content: space-between;
		align-items: center;
		min-width: 100%;
		background: #ffffff;
		border-bottom: 1px solid #f1f1f3;
		ul {
			display: flex;
			justify-content: center;
			gap: 2em;
			list-style: none;
			margin-left: 6em;

			li {
				padding: 14px 20px;
				text-transform: capitalize;
				border-radius: 100px;
				border: 1px solid #f1f1f3;
				a {
					text-decoration: none;
					color: #656567;
					font-size: 18px;
				}
			}
			li.active {
				background: #f7f7f8;
				a {
					color: #262626;
				}
			}
			li.shopping-cart {
				padding: 14px;
				background: var(--yellow--primary);
			}
		}
	}
}
main {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	gap: 6em;
	margin: 5em;
	font-family: 'Manrope';
	section.hero:first-child {
		display: flex;
		gap: 12vw;
		section.header {
			display: flex;
			flex-direction: column;
			gap: 4rem;
			section.title {
				display: flex;
				max-width: 100%;
				h1 {
					width: 100vh;
					text-transform: uppercase;
					font-size: 3rem;
				}
				h3 {
					color: #98989a;
					text-transform: uppercase;
					font-size: 14px;
				}
			}
			p {
				font-size: 18px;
				max-width: 100%;
				color: #656567;
			}
			p::first-letter {
				text-transform: capitalize;
			}
		}
		section.news {
			display: flex;
			gap: 16px;
			width: 100%;
			div.new {
				display: flex;
				flex-direction: column;
				gap: 10px;
				height: fit-content;
				width: 100%;
				padding: 30px 40px;
				border: solid 1px #f1f1f3;
				border-radius: 14px;
				width: fit-content;
				h2 {
					text-transform: capitalize;
				}
				p {
					color: #656567;
				}
				p::first-letter {
					text-transform: capitalize;
				}
			}
		}
	}
	section.hero:nth-child(2) {
		section.header {
			display: flex;
			flex-direction: column;
			gap: 4em;
			margin-bottom: 4em;
			section.title {
				display: flex;
				max-width: 100%;
				h1 {
					width: 100vh;
					text-transform: uppercase;
					font-size: 3rem;
				}
				h3 {
					color: #98989a;
					text-transform: uppercase;
					font-size: 14px;
				}
			}
			p {
				font-size: 18px;
				max-width: 100%;
				color: #656567;
			}
			p::first-letter {
				text-transform: capitalize;
			}
		}
		section.news {
			display: flex;
			gap: 16px;
			width: 100%;
			div.new {
				display: flex;
				flex-direction: column;
				gap: 10px;
				height: fit-content;
				width: 100%;
				padding: 30px 40px;
				border: solid 1px #f1f1f3;
				border-radius: 14px;
				width: fit-content;
				h2 {
					text-transform: capitalize;
				}
				p {
					color: #656567;
				}
				p::first-letter {
					text-transform: capitalize;
				}
			}
		}
	}
	section.hero:last-child {
		section.header {
			display: flex;
			flex-direction: column;
			gap: 4em;
			margin-bottom: 4em;
			section.title {
				display: flex;
				max-width: 100%;
				h1 {
					width: 100vh;
					text-transform: uppercase;
					font-size: 3rem;
				}
				h3 {
					color: #98989a;
					text-transform: uppercase;
					font-size: 14px;
				}
			}
			p {
				font-size: 18px;
				max-width: 100%;
				color: #656567;
			}
			p::first-letter {
				text-transform: capitalize;
			}
		}
		section.news {
			display: flex;
			gap: 16px;
			width: 100%;
			div.new {
				display: flex;
				flex-direction: column;
				gap: 10px;
				height: fit-content;
				width: 100%;
				padding: 30px 40px;
				border: solid 1px #f1f1f3;
				border-radius: 14px;
				width: fit-content;
				h2 {
					text-transform: capitalize;
				}
				p {
					color: #656567;
				}
				p::first-letter {
					text-transform: capitalize;
				}
			}
		}
	}
	section.filters {
		border: 1px solid #f1f1f3;
		border-radius: 100px;
		display: flex;
		gap: 10px;
		padding: 10px;
		width: fit-content;
		margin: auto;
		button {
			border-radius: 100px;
			padding: 10px;
			text-transform: uppercase;
			background: #f7f7f8;
			border: 1px solid #f1f1f3;
			font-size: 14px;
			color: #4c4c4d;
		}
		button.active {
			background: var(--yellow--primary);
		}
	}
	section.collections {
		div.collection {
			display: flex;
			flex-direction: column;
			gap: 3em;
			div.header {
				display: flex;
				gap: 4px;
				div.title {
					h2 {
						text-transform: uppercase;
						font-size: 20px;
					}
					p {
						font-size: 16px;
						color: #656567;
					}
					p::first-letter {
						text-transform: capitalize;
					}
				}
			}
			div.clothes {
				display: flex;
				flex-wrap: wrap;
				gap: 2em;
				overflow-x: scroll;
				scrollbar-width: none;
				a {
					text-decoration: none;
					color: #262626;
					article {
						border-radius: 14px;
						border: 1px solid #f1f1f3;
						overflow: hidden;
						width: 305px;
						min-width: 100%;
						margin-right: 1em;

						figure {
							background: #f7f7f8;
							img {
								width: 321px;
								height: 305px;
							}
						}
						figcaption {
							background: #ffffff;
							display: flex;
							flex-direction: column;
							gap: 2em;
							width: 100vh;
							padding: 30px 24px;

							h2 {
								font-size: 16px;
								width: 100vh;
							}
							h2::first-letter {
								text-transform: capitalize;
							}
							div.footer {
								display: flex;
								gap: 8em;
								h3 {
									color: #98989a;
									font-size: 16px;
								}
								h3::first-letter {
									text-transform: capitalize;
								}
							}
						}
					}
				}
			}
			section.footer {
				width: 100%;
				display: flex;
				gap: 10px;
				align-items: center;
				gap: 11em;
				div.scrollbar {
					align-items: center;
					background: #e4e4e7;
					gap: 10px;
					height: 5px;
					display: flex;
					width: 100%;
					border-radius: 31px;

					div.indicator {
						background: #262626;
						height: 5px;
						width: 15em;
						border-radius: 31px;
					}
				}
				div.buttons {
					display: flex;
					gap: 1em;
					.button {
						border: 1px solid #b3b3b3;
						border-radius: 46px;
						padding: 8px;
						width: 40px;
						height: 40px;
						display: flex;
						justify-content: center;
						align-items: center;
						img {
							width: 24px;
							height: 24px;
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 6px;
						}
					}
					.active {
						background: #262626;
					}
				}
			}
		}
	}
	section.product-detail {
		display: flex;
		div.product {
			width: 100%;
			img {
				width: 500px;
				object-fit: fill;
				position: absolute;
				background: #f7f7f8;
				border-radius: 20px;
			}
			div.images {
				display: flex;
				flex-direction: column;
				width: fit-content;
				gap: 1em;
				padding: 1em;
				height: fit-content;
				border-radius: 1em;
				background: #ffffff;
				position: absolute;

				img {
					object-fit: fill;
					position: relative;
					width: 3em;
					border-radius: 0.5em;
				}
			}
		}
		div.details {
			width: 50%;
			display: flex;
			flex-direction: column;
			gap: 1em;
			padding: 1em;
			div.header {
				display: flex;
				width: fit-content;
				div.title {
					display: flex;
					flex-direction: column;
					gap: 55px;
					p {
						color: #656567;
						font-size: 18px;
						width: 20em; /* esto es muy guarro, pero me sirve */
					}
					p::first-letter {
						text-transform: capitalize;
					}
					h2::first-letter {
						text-transform: capitalize;
					}
				}
				h3.price {
					font-size: 30px;
				}
				div.buttons {
					display: flex;
					gap: 5px;
					button {
						border-radius: 32px;
						font-size: 18px;
						display: flex;
						justify-content: center;
						align-items: center;
						height: fit-content;
						width: 10.5em;
						height: 3em;
					}
					button.buy {
						background: #262626;
						color: #f1f1f3;
						display: flex;
						gap: 10px;
						padding: 16px 10px;
					}
					button.cart {
						display: flex;
						gap: 10px;
						padding: 16px 10px;
						border: 1px solid #f1f1f3;
					}
				}
			}
			div.blocks {
				display: flex;
				flex-direction: column;
				gap: 20px;
				div.block {
					border-radius: 2em;
					border: 1px solid #f1f1f3;
					padding: 30px;
					display: flex;

					div.header {
						display: flex;
						gap: 3em;
						div.left {
							display: flex;
							flex-direction: column;
							gap: 1em;
							div.matherial {
								display: flex;
								flex-direction: column;
								gap: 1em;

								p {
									font-size: 18px;
								}
								h3::first-letter {
									text-transform: capitalize;
								}
							}
							div.colour {
								display: flex;
								flex-direction: column;
								gap: 1em;
								div.inputs {
									border: 1px solid #f1f1f3;
									width: fit-content;
									height: 44px;
									display: flex;
									gap: 4px;
									padding: 10px;
									border-radius: 100px;
									input {
										border-radius: 100%;
										width: 24px;
										appearance: none;
									}
									input:checked {
										background: white;
									}
									input#green {
										background: #62613a;
									}
								}
							}
						}
						div.right {
							display: flex;
							flex-direction: column;
							gap: 1em;
							div.fit {
								display: flex;
								flex-direction: column;
								gap: 1em;
								h3::first-letter {
									text-transform: capitalize;
								}
								p::first-letter {
									text-transform: capitalize;
								}
							}
							div.sizes {
								display: flex;
								flex-direction: column;
								gap: 1em;
								h3:first-letter {
									text-transform: capitalize;
								}
								div.inputs {
									display: flex;
									gap: 10px;
									label {
										display: flex;
										text-transform: uppercase;
										justify-content: center;
										align-items: center;
										width: 48px;
										height: 48px;
										font-size: 18px;
										background-color: #f7f7f8;
										border-radius: 4px;
									}
									input {
										display: none;
										&:checked + label {
											background-color: #000;
											color: #fff;
										}
									}
								}
							}
						}
					}
				}
				div.block {
					display: flex;
					div.header {
						display: flex;
						flex-direction: column;
						gap: 20px;
						h3::first-letter {
							text-transform: uppercase;
						}
						ul {
							margin-left: 2em;
							display: flex;
							flex-direction: column;
							gap: 14px;
							li {
								color: #656567;
							}
							li::first-letter {
								text-transform: capitalize;
							}
						}
					}
				}
			}
		}
	}
	section.reviews {
		h2.title::first-letter {
			text-transform: uppercase;
		}
	}
	section.polities {
		display: flex;
		flex-direction: row;
		section.slide-bar {
			width: 20%;
			height: 60%;
			gap: 20em;
			display: flex;
			flex-direction: column;
			div.item {
				text-transform: capitalize;
				gap: 16px;
				padding: 12px;
				display: flex;
				align-items: center;
				font-size: 16px;
				background: transparent;
				border-radius: 4px;
				color: #ffd400;
				img {
					width: 22px;
					height: 22px;
				}
			}
			div.item.active {
				background: #000;
			}
		}
		section.content {
			display: flex;
			flex-direction: row;
		}
	}
}
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	section.main {
		align-items: center;
		align-items: center;
		display: flex;
		justify-content: space-around;
		padding: 10em;
		gap: 15vw;

		section.suscription {
			display: flex;
			flex-direction: column;
			gap: 10em;
			img {
				width: 100px;
			}
			div.main {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				min-width: 100%;
				gap: 2vw;

				input {
					width: 17em;
					border-radius: 32px;
					border: 1px solid #f1f1f3;
					font-size: 18px;
					padding: 16px 30px 16px 20px;
					background: #fcfcfd;
				}
				button {
					border-radius: 32px;
					background: var(--yellow--primary);
					border: none;
					font-size: 18px;
					padding: 30px 16px;
					width: 147px;
					height: 59px;
					align-items: center;
					display: flex;
					justify-content: center;
				}
			}
		}
		section.menu {
			display: flex;
			gap: 50px;

			div.row {
				display: flex;
				flex-direction: column;

				a {
					text-decoration: none;
					color: #262626;
					h2 {
						margin-bottom: 61px;
						gap: 18px;
					}
					p {
						font-size: 18px;
						color: #656567;
					}
					p::first-letter {
						text-transform: uppercase;
					}
				}
			}
		}
	}
	section.footer-policies {
		display: flex;
		gap: 10em;
		div.policies-content {
			display: flex;
			gap: 10em;
			p {
				width: fit-content;
			}
			a {
				width: fit-content;
				text-decoration: none;
				color: #262626;
			}
		}
		div.social-media-icons {
			display: flex;
			gap: 22px;
			margin-bottom: 4em;
			a.social-icon {
				display: flex;
				border-radius: 100px;
				background: #262626;
				padding: 12px;
				height: fit-content;
				img {
					width: 24px;
					height: 24px;
				}
			}
		}
		p {
			color: #656567;
			width: 20em;
		}
	}
}
@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	/*Tablet*/
}
@media (max-width: 768px) {
	/*Moviles*/
}
